<div class="container">

    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm sản phẩm</h3>
        </div>
        <div class="panel-body">

            <form action="/seller/product/add" class="form-horizontal" method="POST">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Tên sản phẩm</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="nameProduct" id="name" placeholder="Tên sản phẩm">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Giá sản phẩm</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="price" id="name" placeholder="Giá sản phẩm">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="about" class="col-sm-3 control-label">Mô tả sản phẩm</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description" id="about"></textarea>
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="img_thumb" class="col-sm-3 control-label">Link ảnh sản phẩm</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="img_thumb" id="img_thumb" placeholder="Link_img">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="qty" class="col-sm-3 control-label">Số lượng sản phẩm</label>
                    <div class="col-sm-3">
                        <input type="number" min="0" class="form-control" name="qty" id="qty" placeholder="Số lượng sản phẩm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="qty" class="col-sm-3 control-label">Danh mục sản phẩm</label>
                    <div class="col-sm-3">
                        <select name="type" class="form-control">
                            <option value="">===Chọn===</option>
                            <option value="Điện thoại">Điện thoại</option>
                            <option value="Máy tính">Máy tính</option>
                            <option value="Đồng hồ">Đồng hồ<option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="seller" value="{{isUser.userID}}">
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div> <!-- form-group // -->
            </form>

        </div><!-- panel-body // -->
    </section><!-- panel// -->


</div> <!-- container// -->