<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Thông tin đơn hàng</h4>
        <form>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value=""disabled="disabled">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" disabled="disabled">
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" disabled="disabled">
            </div>

            <div class="mb-3">
                <label for="address">Số điện thoại</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập số điện thoại" disabled="disabled">
            </div>

            <div class="mb-3">
                <label for="address">Địa chỉ</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" disabled="disabled">
            </div>

            <div class="mb-3">
                <label for="status">Trạng thái đơn hàng:</label>
                <select name="" id="" style="height:40px;">
                    <option value="">---Trạng thái đơn hàng---</option>
                    <option value="">Chờ xét duyệt</option>
                    <option value="">Đang lấy hàng</option>
                    <option value="">Đang giao</option>
                    <option value="">Hoàn thành</option>
                    <option value="">Đã hủy</option>
                </select>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Cập nhật đơn hàng</button>
        </form>
    </div>
</div>