<style>
    .param {
        margin-bottom: 7px;
        line-height: 1.4;
    }

    .param-inline dt {
        display: inline-block;
    }

    .param dt {
        margin: 0;
        margin-right: 7px;
        font-weight: 600;
    }

    .param-inline dd {
        vertical-align: baseline;
        display: inline-block;
    }

    .param dd {
        margin: 0;
        vertical-align: baseline;
    }

    .shopping-cart-wrap .price {
        color: #007bff;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
        display: block;
    }

    var {
        font-style: normal;
    }

    .media img {
        margin-right: 1rem;
    }

    .img-sm {
        width: 90px;
        max-height: 75px;
        object-fit: cover;
    }
    .link_collection{
        text-decoration: none;
        color: black;
    }
    .create_collection{
        display: flex;
        justify-content: flex-end;
    }
</style>



<div class="create_collection"><a href="/collection/create" class="link_create_collection btn btn-primary">Tạo bộ sưu tập</a></div>
<div class="card">
    <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
            <tr>
                <th scope="col">Tên bộ sưu tập</th>
                {{!-- <th scope="col" width="180">Số lượng sản phẩm</th> --}}
                <th scope="col" width="200" class="text-right">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each collections}}
            <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="{{this.collectionThumb}}"
                                class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <a href="/collection?id={{this._id}}" class="link_collection"><h6 class="title text-truncate">{{this.nameCollection}}</h6></a>
                        </figcaption>
                    </figure>
                </td>
                {{!-- <td>
                    <input type="text" class="form-control">
                </td> --}}
                <td class="text-right">
                    <a href="/collection?id={{this._id}}" class="btn btn-outline-success">Sửa</a>
                    <a href="" class="btn btn-outline-danger"> × Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> <!-- card.// -->

</div>
<!--container end.//-->

