<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Thông tin đặt hàng</h4>
        <form class="needs-validation">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="">
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
            </div>

            <div class="mb-3">
                <label for="address">Số điện thoại</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập số điện thoại">
            </div>

            <div class="mb-3">
                <label for="address">Địa chỉ</label>
                <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Xác nhận</button>
        </form>
    </div>
</div>